body{
	background-image: url("Marfa.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: fixed;
}
#nav-bar li{
	list-style: none;
	font: 16px bold Arial, sans-serif;
	color: white;
	width: 70%;
	margin: 0 auto;
	display: inline;
	padding: 20px;
}
#nav-bar ul{
	text-align: right;
	height: 40px;
	display: inline;
	padding: 500px;
	font-weight: bold;
	
}
#nav-bar a:hover{
	color: pink;
}
#nav-bar a{
	text-decoration: none;
	color: white;
}
h1{
	color: white;
	font-family: arial;
	width: 30%;
	margin: 0 auto;
	float: left;
	height: 40px;
	font-size: 16px;	
}
#gallery{
	width: 960px;
	/*border: 1px solid black;*/
	height: 400px;
	margin: 0 auto;
	padding-top: 200px;						
}
.gallery{
	display: inline;
	margin: 10px;
}