html {
   font-family: Arial, sans-serif;
   font-size: 90%;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: normal;

 }
 
 body{
	background-color: white;
	background-repeat: no-repeat;
}

#nav-bar ul{
	float: right;
	font-weight: bold;
	margin-top: -3%;
	margin-right: 3%;
			
}
#nav-bar li {
	display: inline;
	list-style: none;
	padding: 15px;
}
#nav-bar a{
	text-decoration: none;
}
#nav-bar a:visited {
	color: red;
}
.main {
	
	height: 180px;
	margin-left: 18%;
	margin-top: 4%;
	margin: 0, auto;
	width: 60%;
}

.main h1 {
	color: white;
	font-family: Georgia;
	margin: 0, auto;
	
}

.main li{
	/*margin-right: %;*/
	display: inline;
	float: left;
	list-style: none;
	padding-top: 5%;
	text-decoration: none;
}
.main a{
	display: block;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 0 30px;	
    text-decoration: none;
}
.main a:hover{
	color:#FF9999;
}
#section1 p{
	height: 80px;
	margin-left: 5%;
	/*margin-top: 2%;*/
	width: 80%;
}

.section2{
	/*border: 1px solid green;
	clear: both;
	font-size: 120%;
	margin-bottom: -25px;
	background-color: white;
	color: slategrey;
	
	margin-left: 30%;
	margin-top: 5%;

	width: 100%;*/
	
}
.about {
	height: 100%;
	margin-left: 30%;
	margin-top: 5%;
	padding: 20px;
	width: 40%;
}

h4{
	padding: 4px;
	text-align:center;
}
#gallery{
	/*border: 1px solid black;*/
	/*border: 2px solid red;	*/					
	/*margin: 0 auto;*/
	/*padding-top: 210px;*/
	/*clear: both;*/
	color: #FF9999;
	/*font-size: 80%;*/
	height: 90%;
	width: 100%;
}

#gallery a{
	/*display: block;*/
    /*text-align: center;
    color: #FF9999;
    padding: 25px 30px;*/
    text-decoration: none;


}
#gallery a:hover{
	color: #660033;
}
.item	{
	/*height: 320px;*/
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	margin-right: 1%;
	width: auto;

}
.item a{
	background-color: #FF9999;
	border-radius: 30px;
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}
.item a:hover{
	color: #660033;
}

.social-icons{
	border: 1px solid blue;
}



